@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  background-color: #0f172a; /* Dark fallback in case image fails load */
  margin: 0;
  min-height: 100vh;
}

/* Custom Scrollbar for Tasks */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #000; 
  border-radius: 4px;
  border: 2px solid #f1f1f1; /* Adds a nice padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #333; 
}